/* Header thoughts
    1. Add landscape as background
    2. Eventually make it sticky
    3. Link with hover button
        a. About me
        b. My work
        c. Contact me
    4. 3 children to Header -- name - profile photo - nav w links
                Should I link the profile photo to something?
    5. 4 children to nav box - About me - My work - Contact me -External link to PDF resume
        a. hover style
        b. round the radius and change the text - create a button
        c. link to appropriate section of website*/
/* Body thoughts
    1. About me section and work section
    2. title class for "about me" and "work"
    3. 5 children as placeholders per the diagram */

/* Footer thoughts
    1. 2 childeren to Footer -- Contact me  - list
    3. 3 children to list/address -- # - email - linked in
        Possible more for linkdIn, Github */


/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(32,83,224);
    --secondary-color: rgb(113, 142, 223);
    --tertiary-color: rgb(240, 159, 159);
    --primary-text-color: white;
    --secondary-text-color:black;   
}

body{
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

/* Header styling */
header{
    background-color: var(--primary-color);
    background-image: url("./images/Beach\ sunrise.jpg");
    background-size: cover;
    background-attachment: fixed;
}