/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--primary-text-color);
}

:root {
    --primary-color: rgb(68,43,160);
    --secondary-color: rgb(113, 142, 223);
    --tertiary-color: rgb(255, 195, 83);
    --primary-text-color: white;
    --secondary-text-color:black;
    --element-border: rgb(68,43,160);
    --project-shadow:rgb(68,43,160);  
    --project-border:white; 
}

body{
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

/* .primaryborder{
    border-color: solid right 3px var(--tertiary-color);
} */

/* Header styling */
header{
    background-color: var(--primary-color);
    background-image: url("../assets/images/beachscreenshot.png");
    background-size: 100%;
    background-position: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
    padding: 20px;
}

header{
    text-shadow: 2px 2px 3px var(--tertiary-color)
}

header h1 a{
    text-shadow: 2px 2px 3px var(--primary-color), 3px 3px 6px var(--secondary-color); 
}

header img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 70px;
    /* border: 2px solid var(--tertiary-color); */
    box-shadow:  1px 2px 2px var(--primary-color), 3px 3px 6px var(--secondary-color);
}

header nav{
    margin-top: 130px;
}

header nav ul {
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 24px;
    position: relative;
    padding-inline: 15px;
}

header nav ul a:hover{
    background:var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    font-size: bold;
    text-shadow: none;
}

.hero {
    font-size: 28px;
    display:flex;
    background-color:white;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-text{
    color:var(--primary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: bold;
    text-shadow: 1px 1px 2px var(--secondary-color) ;
}

.primarybox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap:wrap;
    max-width: 100%;
}
/* New approach - each of the secondary box will have it's own class to fit into the primary box */

.about-me .section-title{
    font-size: 36px;
    padding: 0px 200px 20px 100px;
    display: relative;
    /* justify-content: space-between; */
    width: 50px;
    height: 50px;
    /* border-right: 3px solid var(--tertiary-color); */
}


.my-projects .section-title{
    font-size: 36px;
    padding: 0px 200px 20px 100px;
    display: relative;
    /* justify-content: space-between; */
    width: 50px;
    height: 50px;
    /* border-right: 3px solid var(--tertiary-color); */
}

.contact-info .section-title{
    font-size: 24px;
    padding: 0px 200px 20px 100px;
    display: relative;
    /* justify-content: space-between; */
    width: 50px;
    height: 50px;
    /* border-right: 3px solid var(--tertiary-color); */
}

.about-me, .my-projects, .contact-info {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: static;
    padding: 20px;
    /* margin: auto; */
}

.abstract {
    padding: 0px 5px 10px 10px;
    border-left: 4px solid var(--element-border);
}
/* .secondarybox {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: static;
    /* margin: auto; */
/* }
.secondarybox .section-title{
    font-size: 24px;
    padding: 0px 200px 20px 100px;
    display: relative; */
    /* justify-content: space-between; */
    /* width: 50px;
    height: 50px;
    border-right: 3px solid var(--tertiary-color);
} */

/* .secondarybox, p{
    padding: 0px 10px 10px 10px;
} */ 

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    border-left: 4px solid var(--element-border);
}
.projecthighlight {
    border: 10px solid var(white);
    width: 100%;
    background-image: url("./images/blank.png");
    position: relative;
    height: 50%;
    min-height:125px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 0px 5px var(--project-shadow);
    transition: box-shadow 0.6s linear; */
}


.projecthighlight:hover{
    border: 15px solid var(--project-border);
    box-shadow: -2px -2px 0px 10px var(--project-shadow);
    /* box-shadow: 0px 0px 0px 5px var(--project-shadow); */
    transition: box-shadow 0.6s linear;
    width: 100%;
    background-image: url("./images/blank.png");
    position: relative;
    border-radius: 10px;
}
.project {
    border: 7px solid var(--project-border);
    width: 47%;
    height: 125px;
    position: relative;
    background-image: url("./images/blank.png");
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.project:hover{
    border: 7px solid var(--project-border);
    box-shadow: -2px -2px 0px 10px var(--project-shadow);
    /* box-shadow: 0px 0px 0px 5px var(--project-shadow); */
    transition: box-shadow 0.6s linear;
    width: 47%;
    background-image: url("./images/blank.png");
    position: relative;
    border-radius: 10px;
}

/* .project img{
   width: 100%;
   height: 100%; 
} */

.projecthighlight, .project, .runbuddy{
    margin: 10px;
}
.worktitle{
    border: 4px solid var(--project-border);
    background-color: var(--primary-color);
    position: absolute;
    left: 5px;
    bottom:5px;
    border-radius: 15px;
    text-align: left;
    padding: 3px;
    font-size:12px;
}

.worktitle:hover{
    border: 4px solid var(--project-border);
    background-color: var(--primary-color);
    box-shadow: -2px -2px 0px 10px var(--project-shadow);
    transition: box-shadow .6s linear;
    position: absolute;
    left: 5px;
    bottom:5px;
    border-radius: 15px;
    text-align: left;
    padding: 3px;
    font-size: 18px;
    transition: font-size .6s linear;
}

.runbuddy {
    border: 7px solid var(--project-border);
    width: 47%;
    height: 125px;
    position: relative;
    background-image: url("./images/Runbuddy\ screenshot.png");
    background-size:cover;
    border-radius: 10px;
}

.runbuddy:hover{
    border: 7px solid var(--project-border);
    box-shadow: -2px -2px 0px 10px var(--project-shadow);
    /* box-shadow: 0px 0px 0px 5px var(--project-shadow); */
    transition: box-shadow 0.6s linear;
    width: 47%;
    background-image: url("./images/Runbuddy\ screenshot.png");
    position: relative;
    border-radius: 10px;
}

.connect{
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-left: 4px solid var(--element-border);
}

.connect address a {
    padding-inline: 15px;
    font-style: normal;
    
}

.phone:hover {
    border: 3px solid var(--project-border);
    border-radius: 4px;
    transition: border .6s linear;
    background-color: var(--primary-color);
    font-size: 20px;
}

.email:hover{
    border: 3px solid var(--project-border);
    border-radius: 4px;
    transition: border .6s linear;
    background-color: var(--primary-color);
    font-size: 20px;
}

.github:hover{
    border: 3px solid var(--project-border);
    border-radius: 4px;
    transition: border .6s linear;
    background-color: var(--primary-color);
    font-size: 20px;
}

.linkedin:hover{
    border: 3px solid var(--project-border);
    border-radius: 4px;
    transition: border .6s linear;
    background-color: var(--primary-color);
    font-size: 20px;
}
    
/* pausing li badge, need to research or perhaps future lessons will
help prep this */
/* .linkedin{
    position: relative;
    top: 0;
    right: -15px;
    width: 30px;
    margin:auto;
} */

/* .badge-base__link LI-simple-link {
    position: relative;
    bottom: 5px;
    right: -15px;
    width: 50px;
    margin:auto;
} */

/* footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;

} */
@media screen and (max-width: 1030px) {
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-size: auto;
    height: auto;
}
header img{
    justify-content: center;
}

header nav{
    margin: 25px;
}
header nav ul{
    flex-direction: column;
    align-items: center;
}
.hero {
    width: 100%;
    font-size: 20px;
}
.primarybox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    align-content: center;
    align-items: center;
}
.about-me, .my-projects, .contact-info{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    width: 100%;
} 
.abstract{
    margin-top: 8px;
    padding-top:8px;
}
.worktitle{
    position: absolute;
    display: flex;
    font-size: 12px;
    align-content: stretch;
    flex-direction: column;
    /* justify-content: flex-end; */
    max-height: 40px;
     
}
.project{
    width: 100%;
}
.project:hover{
    width: 100%;
}
.abstract, .projects, .connect{
    border-top: 5px solid var(--element-border);
    border-left: none;
    padding: 8px;
}
.about-me .section-title{
    width: 10%;
    font-size: 20px;
}
.my-projects .section-title{
    width:100%;
    font-size: 20px;
}
.contact-info .section-title{
    width: 100%;
    font-size: 20px;
}

.connect {
 font-size: 11px;
}
  
}
@media screen and (max-width: 768px){
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        background-size: auto;
        height: auto;
}
header img{
        justify-content: center;
}

header nav{
    margin: 25px;
}
header nav ul{
    flex-direction: column;
    align-items: center;
}
.hero {
    width: 100%;
    font-size: 20px;
}
.primarybox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    align-content: center;
    align-items: center;
}
.about-me, .my-projects, .contact-info{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
} 
.abstract{
    margin-top: 8px;
    padding-top:8px;
}
.worktitle{
    position: absolute;
    display: flex;
    font-size: 12px;
    align-content: stretch;
    flex-direction: column;
    /* justify-content: flex-end; */
    max-height: 40px;
     
}
.project{
    width: 100%;
}
.abstract, .projects, .connect{
    border-top: 5px solid var(--element-border);
    border-left: none;
    padding: 8px;
}
.about-me .section-title{
    width: 10%;
    font-size: 20px;
}
.my-projects .section-title{
    width:100%;
    font-size: 20px;
}
.contact-info .section-title{
    width: 100%;
    font-size: 20px;
}

.connect {
 font-size: 11px;
}
}
@media screen and (max-width: 575px){

.header{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        background-size: auto;
        height: auto;
}
header img{
        justify-content: center;
}

header nav{
    margin: 25px;
}
header nav ul{
    flex-direction: column;
    align-items: center;
}
.hero {
    width: 100%;
    font-size: 20px;
}
.primarybox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    align-content: center;
    align-items: center;
}
.about-me, .my-projects, .contact-info{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
} 
.abstract{
    margin-top: 8px;
    padding-top:8px;
}
.worktitle{
    position: absolute;
    display: flex;
    font-size: 12px;
    align-content: stretch;
    flex-direction: column;
    /* justify-content: flex-end; */
    max-height: 40px;
     
}
.project{
    width: 100%;
}
.abstract, .projects, .connect{
    border-top: 5px solid var(--element-border);
    border-left: none;
    padding: 8px;
}
.about-me .section-title{
    width: 10%;
    font-size: 20px;
}
.my-projects .section-title{
    width:100%;
    font-size: 20px;
}
.contact-info .section-title{
    width: 100%;
    font-size: 20px;
}

.connect {
 font-size: 11px;
}
}