/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--primary-text-color);
}

:root {
    --primary-color: rgb(32,83,224);
    --secondary-color: rgb(113, 142, 223);
    --tertiary-color: rgb(255, 195, 83);
    --primary-text-color: white;
    --secondary-text-color:black;  
}

body{
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

/* .primaryborder{
    border-color: solid right 3px var(--tertiary-color);
} */

/* Header styling */
header{
    background-color: var(--primary-color);
    background-image: url("../assets/images/beachscreenshot.png");
    background-size: 100%;
    background-position: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
    padding: 20px;
}

header img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 70px;
    border: 2px solid var(--tertiary-color);
}

header nav{
    margin-top: 130px;
}

header nav ul {
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 24px;
    position: relative;
    padding-inline: 15px;
}

header nav ul a:hover{
    background:var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    font-size: bold;
}

/* .flex-row{
    display:flex;
} */

.primarybox{
    margin: auto ;
    position: static;
    justify-content: space-around;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    padding-top: 15px;
}

.secondarybox {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: static;
    margin: auto;
}
.secondarybox .section-title{
    font-size: 24px;
    padding: 0px 200px 20px 100px;
    display: relative;
    /* justify-content: space-between; */
    width: 50px;
    height: 50px;
    border-right: 3px solid var(--tertiary-color);
}

.secondarybox, p{
    padding: 0px 10px 10px 10px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    height: 500px;
    text-align: left;
}
.projecthighlight {
    border: 10px solid var(--tertiary-color);
    width: 100%;
    background-image: url("./images/blank.png");
    position: relative;
    height: 50%;
    border-radius: 15px;
}
.project {
    border: 10px solid var(--tertiary-color);
    width: 47%;
    height: 100px;
    position: relative;
    background-image: url("./images/blank.png");
    border-radius: 15px;

}

/* .project img{
   width: 100%;
   height: 100%; 
} */

.projecthighlight, .project{
    margin: 10px;
}
.worktitle{
    border: 5px solid var(--tertiary-color);
    background-color: var(--primary-color);
    position: absolute;
    left: 5px;
    bottom:5px;
    border-radius: 15px;
    text-align: left;
}

.connect{
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    text-align: center;

}

.connect address a {
    padding-inline: 15px;
    
}

/* .section-title{
    border-right: 3px solid var(--tertiary-color);
    width: 200px;
} */
    
/* pausing li badge, need to research or perhaps future lessons will
help prep this */
/* .linkedin{
    position: relative;
    top: 0;
    right: -15px;
    width: 30px;
    margin:auto;
} */

/* .badge-base__link LI-simple-link {
    position: relative;
    bottom: 5px;
    right: -15px;
    width: 50px;
    margin:auto;
} */

/* footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;

} */